<h1 class="bg-primary text-white text-center text-uppercase mt-2">this is our first project</h1>

 
 <div class="container">
  <div class="row">
    <div class="col-md-4">
     
      <ul class="list-group mb-2">
        <li *ngFor ="let p of products" class="list-group-item"  >
         <strong>  i love {{p.name}} and price is 150 and {{p.category}}</strong>
        </li>
      </ul>
    
      <ul class="list-group">
        <li *ngFor ="let lists of users" class="list-group-item"  >
          i love {{lists.role}}
        </li>
      </ul>
      <!-- <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr no</th>
            <th>Name</th>
            <th>email</th>
            <th>role</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of person; let i = index">
            <td>{{i +1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.email}}</td>
            <td>{{p.role}}</td>        
          </tr>
        </tbody>
      </table>  -->
<hr>
        
    </div>

    <!-- <div class="col-md-4">
      <ul class="list-group mb-2">
        <li *ngFor ="let p of products" class="list-group-item"  >
         <strong>  i love {{p.name}} and price is 150 and {{p.category}}</strong>
        </li>
      </ul>
    </div> -->
    <!-- <div class="col-md-4">
      <ul class="list-group mb-2">
        <li *ngFor ="let p of products" class="list-group-item"  >
         <strong>  i love {{p.name}} and price is 150 and {{p.category}}</strong>
        </li>
      </ul>
    </div> -->
  </div>




  <!-- <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
             <th>name</th>
             <th>country</th>
             <th>odidebut</th>
             <th>matches</th>
             <th>run</th>
             <th>highscore</th>
             <th>centuries</th>
             <th>fifty</th>
             <th>battingaverge</th>
             <th>wicket</th>
          </tr>
        </thead>
         <tbody>
          <tr *ngFor="let c of cricketers">
            <td>{{c.name}}</td>
            <td>{{c.country}}</td>
            <td>{{c.odiDebut}}</td>      
            <td>{{c.matches}}</td>      
            <td>{{c.runs}}</td>      
            <td>{{c.highestScore}}</td>
            <td>{{c.centuries}}</td>          
            <td>{{c.fifties}}</td>      
            <td>{{c.battingAverage}}</td>      
            <td>{{c.wickets}}</td>      
          </tr>
        </tbody>
      </table>
    </div>

  <hr>
      
  </div>
 </div>



   -->